html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif}

td#statusName{
    width: 80px;
}

td#isShared{
    width: 50px;
}

table#todoData{
    width: 100%;
}

.todo {
    border: 2px solid #4096EE;
    width: 100%;
    margin-bottom: 2px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}