{% extends "baseEmpty.html" %}
{% block head%}
    <script type="text/javascript" src="/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css" />
{% endblock %}
{% block body%}
    &nbsp;<a href="/">home</a>
    &nbsp;<a href="/addtodo">add todo</a>
    &nbsp;<a href="/shared">shared</a>
    &nbsp;<a href="/sharedwithme">shared with me</a>
    &nbsp;<a href="/logout">logout</a>
    <div id="wrap">
        {{ content }}
        <div class="push">
        </div>
    </div>
    <div id="footer">
        <div id="donebasket"><a href="/donelist">Done basket</a></div>
    </div>
{% endblock %}