<!DOCTYPE html>

<html>
    <head>
    {% block head%}
        {% block scriptsAndStyles%}
            <script type="text/javascript" src="/javascript"></script>
            <link rel="stylesheet" type="text/css" href="/css" />
        {% endblock%}
        
        <title>queuetodo</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
        <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
    {% endblock %}
    </head>
    <body>
        <div data-role="page">

            <div data-role="header">
                <h1>My Title</h1>
            </div><!-- /header -->

            <div data-role="content">	
            {% block mainContent %}
        
        <div id="container">
            <div id="wrapper">
                <div id="content">
                {% block content %}
                    {{ content }}
                {% endblock %}
                </div>
            </div>
            <div id="navigation">
                <a href="/">home</a>
                <a href="/addtodo">add todo</a>
                <a href="/shared">shared</a>
                <a href="/sharedwithme">shared with me</a>
                <a href="/logout">logout</a>
            {% block navigation %}
                {{ navigation }}
            {% endblock %}
            </div>
            <div id="extra">
            {% block extra %}
                {{ extra }}
            {% endblock %}
            </div>
            <div id="footer">
            {% block footer %}            
            {% endblock %}
            </div>
        </div>
        
            {% endblock %}
            </div><!-- /content -->

        </div><!-- /page -->
    </body>
</html>