{% extends "base.html" %}
{% block content %}
    <h3>{{title}}</h3>
    {% for todo in todos %}
        <div class="todo" >
            <input type="hidden" class="todoid" value="{{todo[0]}}" />
            <table>
                <tr>
                    <td colspan="2">
                        {{todo[1]}}    
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td id="statusNmae">
                        {{todo[3]}}
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock %}
{% block extra %}
    {% if not friends == None %}
        {%for friend in friends["data"] %}
            <div class="friend" >
                <input type="hidden" class="friendid" value="{{friend["id"]}}" />
                {{friend["name"]}}
            </div>
        {% endfor %}
    {% endif%}
{% endblock %}